<link href="/css/shared-style.css" rel="stylesheet"/>
<link href="/css/1header.css" rel="stylesheet"/>
<link href="/css/2search.css" rel="stylesheet"/>
<link href="/css/3offers.css" rel="stylesheet"/>
<link href="/css/4details.css" rel="stylesheet"/>
<link href="/css/5cities.css" rel="stylesheet"/>
<link href="/css/6contact.css" rel="stylesheet"/>
<link href="/dialog/fit-dialog.css" rel="stylesheet"/>

<div class="nav">

  <div class="logo">
    <img src="http://localhost:8000/images/logo.png" alt="BalkanStay Logo">
  </div>


    <div class="menu">
      <ul>
        <li routerLink="/public/home" routerLinkActive="active">Home</li>
        <li routerLink="/public/about" routerLinkActive="active">About</li>
        <li routerLink="/public/contact-us" routerLinkActive="active">Contact us</li>
      </ul>
    </div>


  <div class="users">
    <!-- Show login/register if the user is NOT logged in -->
    <div *ngIf="!isLoggedIn()" class="user-buttons">
      <div class="user-profile" routerLink="/auth/login">
        <span>Login</span>
      </div>

      <div class="user-profile" routerLink="/auth/register">
        <span>Register</span>
      </div>
    </div>

    <!-- Show greeting message with dropdown if the user IS logged in -->
    <div *ngIf="isLoggedIn()" class="dropdown">
      <!-- Dropdown Button (Styled like Login/Register buttons) -->
      <div class="user-profile dropdown-button" (click)="toggleDropdown()">
        <span>Hi, {{ authInfo?.firstName }}</span>
      </div>

      <!-- Dropdown Menu -->
      <div class="dropdown-menu" *ngIf="dropdownOpen">
        <button routerLink="/profile">
          <mat-icon>person</mat-icon> My Profile
        </button>
        <button (click)="logout()">
          <mat-icon>logout</mat-icon> Logout
        </button>
      </div>
    </div>
  </div>

</div>



<div>
  <router-outlet></router-outlet>
</div>
