<link href="/css/shared-style.css" rel="stylesheet"/>
<link href="/css/1header.css" rel="stylesheet"/>
<link href="/css/2search.css" rel="stylesheet"/>
<link href="/css/3offers.css" rel="stylesheet"/>
<link href="/css/4details.css" rel="stylesheet"/>
<link href="/css/5cities.css" rel="stylesheet"/>
<link href="/css/6contact.css" rel="stylesheet"/>
<link href="/dialog/fit-dialog.css" rel="stylesheet"/>

<div class="nav">

  <div class="logo">
    <img src="http://localhost:8000/images/logo.png" alt="BalkanStay Logo">
  </div>


    <div class="menu">
      <ul>
        <li routerLink="/public/home" routerLinkActive="active">Home</li>
        <li routerLink="/public/about" routerLinkActive="active">About</li>
        <li routerLink="/public/contact-us" routerLinkActive="active">Contact us</li>
      </ul>
    </div>


  <div class="users">
    <div class="user-profile" routerLink="/auth/login">
      <span>Login</span>
    </div>

    <div class="user-profile" routerLink="/auth/register">
      <span>Register</span>
    </div>
  </div>

</div>



<div>
  <router-outlet></router-outlet>
</div>


<!-- Footer -->
<footer class="footer">
  <section class="footer-links">
    <div class="footer-container">
      <section class="footer-logo">
        <div class="footer-container">
          <div class="footer-column logo-column">
            <img src="http://localhost:8000/images/logo2.png" alt="Logo" class="footer-logo-image" />
          </div>
        </div>
      </section>

      <div class="footer-column">
        <h6 class="footer-title">Home</h6>
        <p><a href="http://localhost:4200/public/about">About</a></p>
        <p><a href="http://localhost:4200/public/contact-us">Contact</a></p>
        <p><a href="#">Support</a></p>
        <p><a href="#">Help</a></p>
      </div>

      <div class="footer-column">
        <h6 class="footer-title">Useful links</h6>
        <p><a href="#">Pricing</a></p>
        <p><a href="#">Settings</a></p>
        <p><a href="#">Orders</a></p>
        <p><a href="#">Help</a></p>
      </div>

      <div class="footer-column">
        <h6 class="footer-title">Contact</h6>
        <p><i class="fas fa-home"></i> New York, NY 10012, US</p>
        <p><i class="fas fa-envelope"></i> balkan&#64;support.ba</p>
        <p><i class="fas fa-phone"></i> + 01 234 567 88</p>
        <p><i class="fas fa-print"></i> + 01 234 567 89</p>
      </div>
    </div>
  </section>
  <!-- Section: Links -->

  <!-- Copyright -->
  <div class="footer-copyright">
    © 2021 Copyright: BalkanStay
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
