<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()">
    <div class="form-group">
      <div class="input-container">
        <input type="text" id="username" name="username" [(ngModel)]="loginRequest.username" required>
        <label for="username">Username</label>
      </div>
    </div>

    <div class="form-group">
      <div class="input-container">
        <input type="password" id="password" name="password" [(ngModel)]="loginRequest.password" required>
        <label for="password">Password</label>
      </div>
    </div>

    <mat-slide-toggle>Save login</mat-slide-toggle>

    <button class="login-button" type="submit">Login</button>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <!-- Sign Up and Forgot Password Links -->
    <div class="login-links">
      <span>Don't have an account? <a routerLink="/auth/register">Sign Up</a></span>
      <a class="forgot-password" routerLink="/auth/forgot-password">Forgot password</a>
    </div>
  </form>
</div>
