.login-container {
  max-width: 350px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: white;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  width: 100%;
  padding: 12px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  transition: 0.3s ease;
  background: none;
  outline: none;
}

.input-container label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #828080;
  transition: 0.3s ease;
  pointer-events: none;
  background: white;
  padding: 0 5px;
  border-radius: 20%;
}

.input-container input:focus,
.input-container input:valid {
  border-color: #007bff;
}

.input-container input:focus + label,
.input-container input:valid + label {
  top: 5px;
  font-size: 12px;
  color: #333;
}

.login-button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: #1a2e35;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 12px;
  text-align: center;
}
