

<div class="part1">
  <div class="booking-box">
    <div class="booking-field">
      <label>Where</label>
      <input type="text"
             placeholder="Search city name"
             class="search-input"
             [(ngModel)]="traziVrijednost"
             (input)="filterCities()"
             (focus)="showAllCities()"
             autocomplete="off">




      <!-- Dropdown with filtered cities -->
      <div class="dropdown-panel" *ngIf="showDropdown && filteredCities.length > 0">
        <p class="dropdown-title">Available Cities</p>
        <div *ngFor="let city of filteredCities"
             class="dropdown-item"
             (mousedown)="selectCity(city)">
          <span class="city-name">{{ city.name }}, {{ city.country.name }}</span>
        </div>
      </div>
    </div>

    <div class="booking-field date-field">
      <label>Check-in</label>
      <div class="custom-datepicker">
        <input matInput [matDatepicker]="checkInPicker" [(ngModel)]="checkInDate" placeholder="Add dates">
        <mat-datepicker-toggle matIconSuffix [for]="checkInPicker"></mat-datepicker-toggle>
        <mat-datepicker #checkInPicker></mat-datepicker>
      </div>
    </div>

    <div class="booking-field date-field">
      <label>Check-out</label>
      <div class="custom-datepicker">
        <input matInput [matDatepicker]="checkOutPicker" [(ngModel)]="checkOutDate" placeholder="Add dates">
        <mat-datepicker-toggle matIconSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
        <mat-datepicker #checkOutPicker></mat-datepicker>
      </div>
    </div>

    <div class="booking-field">
      <label>Who</label>
      <input type="text" placeholder="Add guests">
    </div>

    <button class="search-button" (click)="pretraziApartmane()">
      <span class="material-icons">search</span>
    </button>

    <button class="reset-button" *ngIf="isFiltered" (click)="resetFilter()">
      <span class="material-icons">refresh</span>
    </button>


  </div>

</div>





<div class="part3">
  <div class="travel-destinations">

  </div>
  <section id="best-offers">
    <div class="title-container">
      <h1 class="best-offers-title">Discover Your Next Balkan Stay</h1>
      <p class="best-offers-text">Explore the best apartments across the Balkans</p>
    </div>
    <div id="destinacije" class="offers-container" [class.loading]="isLoading">
      <article *ngFor="let x of filtriraniApartmani" class="offer">
        <div class="offer-image"
             [style.background-image]="'url(' + (x.apartmentImages?.[0]?.image?.imagePath || 'https://placehold.co/600x400') + ')'" >
        </div>
        <div class="offer-details">
          <div class="offer-destination">
            {{ x.city?.name }}, {{ x.city?.country?.name }}
          </div>
          <div class="offer-description">{{ x.adress }}</div>
          <div class="offer-description">{{ x.description }}</div>
        </div>
        <div class="offer-footer">
          <div class="offer-info">
            <div class="offer-price">{{ x.pricePerNight }} €</div>
          </div>
          <div class="ponuda-dugme" (click)="K2_odaberiApartment(x)">Pogledaj apartman</div>
        </div>
      </article>
    </div>

    <!-- Loading Indicator -->
    <div *ngIf="isLoading" class="loading-container">
      <div class="loader"></div>
      <p>Loading more apartments...</p>
    </div>

    <!-- Scroll Anchor -->
    <div #scrollAnchor style="height: 1px; background: transparent;"></div>



<div class="part4">
  <div class="travel-tabel">
    <div class="separator">
      <div class="line-black"></div>
      <div class="line-green"></div>
      <div class="line-black"></div>
    </div>
    <div class="travel-header">
      <h1>4 Our Travel Plans</h1>
      <p>
        Vero justo sed sed vero clita amet. Et justo vero sea diam elitr amet
        ipsum eos ipsum clita duo sed. Sed vero sea diam erat vero elitr sit
        clita.
      </p>
      <div class="separator">
        <div class="line-black"></div>
        <div class="line-green"></div>
        <div class="line-black"></div>
      </div>
    </div>
    <table class="styled-table">
      <thead class="travel-table-header">
      <tr>
        <th>Putovanje ID</th>
        <th>Polazak</th>
        <th>Povratak</th>
        <th>Broj dana</th>
        <th>Broj slobodnih mjesta</th>
        <th>Cijena</th>
        <th>Odaberi</th>
      </tr>
      </thead>
      <tbody id="putovanjaTabela" *ngIf="odabranaDrzava">
      <tr *ngFor="let o of odabranaDrzava.planiranaPutovanja;let rbPolaska = index">
        <td>ID {{o.idPutovanje}}</td>
        <td>{{o.datumPol}}</td>
        <td>{{o.datumPov}}</td>
        <td>{{o.countSlobodnoMjesta}}</td>
        <td>{{o.brojDana}}</td>
        <td>{{o.cijenaPoOsobiEur}} €</td>
        <td><button (click)="K3_OdaberiPutovanje(o)">K3 Odaberi putovanje</button></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="part5">
  <div class="city-weather">
    <div class="city-weather-wrapper">
      <div class="city-weather-header">
        <h1>5 Our Cities Itinerary</h1>
        <p>
          Vero justo sed sed vero clita amet. Et justo vero sea diam elitr
          amet ipsum eos ipsum clita duo sed. Sed vero sea diam erat vero
          elitr sit clita.
        </p>
        <div class="separator">
          <div class="line-black"></div>
          <div class="line-green"></div>
          <div class="line-black"></div>
        </div>
      </div>
      <div class="city-card-wrapper" id="vrijemeGradova">
      </div>
    </div>
  </div>

</div>
<div class="part6">
  <div class="contact">

    <div class="booking-header">
      <h1>6 Book your destination</h1>

    </div>
    <div id="contact-form">
      <div class="container2">
        <div class="item">
          <label for="drzavaText">Drzava</label>
          <input disabled id="drzavaText" type="text" [value]="odabranaDrzava!=null?odabranaDrzava.drzava:''"/>
        </div>
        <div class="item">
          <label for="datumPolaska">Datum polaska</label>
          <input disabled id="datumPolaska" type="text"/>
        </div>
      </div>

      <hr/>

      <div class="container2">
        <div class="item">
          <label class="bold" for="brojGostiju">Broj gostiju</label>
          <input id="brojGostiju" max="5" min="1" oninput="promjenaBrojaGostiju()" type="number" value="1"/>
        </div>
        <div class="item">
          <label for="cijenaPoGostu">Cijena po gostu</label>
          <input disabled id="cijenaPoGostu" type="text"/>
        </div>
      </div>

      <div class="container2">
        <div class="item"></div>
        <div class="item">
          <label class="bold" for="ukupnaCijena">Sumarno za sve goste</label>
          <input disabled id="ukupnaCijena" type="text"/>
        </div>
      </div>
      <hr/>
      <div id="gosti"></div>
      <br/>
      <br/>
      <div class="container3">
        <div class="item-container">
          <div class="item">
            <label for="brojPasosa">Broj pasoša</label>
            <input id="brojPasosa" oninput="provjeriBrojPasosa()"/>
          </div>
          <div class="item">
            <label for="datumVazenjaPasosa">Datum važenja pasoša</label>
            <input id="datumVazenjaPasosa" oninput="provjeriPasos()"/>
          </div>
        </div>
        <div class="item-container">
          <div class="item">
            <label for="email">E-mail</label>
            <input id="email" oninput="provjeriEmail()"/>
          </div>
          <div class="item">
            <label for="phone">Broj telefona</label>
            <input id="phone" oninput="provjeriTelefon()"/>
          </div>
        </div>
      </div>
    </div>

    <button class="button" onclick="posalji()">Send</button>
  </div>
</div>


<script src="dialog/fit-dialog.js"></script>
<script src="js/cities/arrow.js"></script>
<script src="js/cities/propeler.js"></script>
<script src="js/cities/termometar.js"></script>
<script src="js/script.js"></script>

