<div class="hero-image">
  <div class="hero-text">
    <h1>ABOUT US</h1>
    <p>Welcome to BalkanStay,<br>Your gateway to an unforgettable experience in the heart of the Balkans!</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="column-66">
      <h1><b>OUR STORY</b></h1>
      <p> Founded by two passionate students from Bosnia and Herzegovina, BalkanStay was born out of a shared vision – to enhance and promote tourism across the Balkans. <br><br>

        Our platform connects travelers from around the world with unique accommodations, offering an authentic and seamless way to explore this breathtaking region.<br><br>

        Whether you're dreaming of a cozy mountain retreat, a seaside escape, or a charming city apartment, BalkanStay makes it easy to find and book the perfect stay.

      </p>
    </div>
    <div class="column-33">
      <img src="images/img02.jpg"  width="100%" height="460">
    </div>
  </div>
</div>


<div class="container" style="background-color:#f1f1f1">
  <div class="row">
    <div class="column-33">
      <img src="images/img03.jpg"  width="100%" height="460">
    </div>
    <div class="column-66">
      <h1><b>OUR MISSION</b></h1>
      <p>  We aim to support local communities, create sustainable tourism, and preserve the rich cultural heritage that the Balkans have to offer.
        <br><br><br>
        We are committed to providing:
        <br><br>
        Affordable and authentic stays that reflect the local culture.
        <br><br>
        Easy booking experiences with secure payment options.
        <br><br>
        Support for small businesses by promoting local hosts and their properties.
        <br><br><br>
        Our ultimate goal is to bring people closer to the heart of the Balkans, enriching their travels and supporting the region’s growth as a tourism hub.</p>
    </div>
  </div>
</div>


<div class="container-why-us">

      <h1><b>WHY US</b></h1>
      <p> Authentic Experiences: Stay in carefully curated homes that reflect the true spirit of the Balkans.<br><br>
        Easy Booking: User-friendly platform that lets you book your next Balkan adventure with ease.<br><br>
        Local Support: Your booking helps local businesses and hosts grow.
      </p>

</div>
