
.users {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 12px;
}

.user-profile span {
  padding-right: 0;
}

.user-profile {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto;
  color: #1a2e35;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border: 1px solid #1a2e35;
  transition: border-radius 0.2s ease-in-out;
}



