
<!-- Footer -->
<footer class="footer">
  <section class="footer-links">
    <div class="footer-container">
      <section class="footer-logo">
        <div class="footer-container">
          <div class="footer-column logo-column">
            <img src="http://localhost:8000/images/logo3.png" alt="Logo" class="footer-logo-image" />
          </div>
        </div>
      </section>


      <div class="footer-column">
        <h6 class="footer-title"> Contact</h6>
        <p><i class="fas fa-home"></i>New York, NY 10012, US</p>
        <p><i class="fas fa-envelope"></i> balkan&#64;.ba</p>
        <p><i class="fas fa-phone"></i>+ 01 234 567 88</p>
        <p><i class="fas fa-print"></i>+ 01 234 567 89</p>
      </div>

      <div class="footer-column">
        <h6 class="footer-title">Home</h6>
        <p><a href="http://localhost:4200/public/about">About</a></p>
        <p><a href="http://localhost:4200/public/contact-us">Contact</a></p>
        <p><a href="#">Support</a></p>
        <p><a href="#">Help</a></p>
      </div>

    </div>
  </section>
  <!-- Section: Links -->

  <!-- Copyright -->
  <div class="footer-copyright">
    © 2021 Copyright: BalkanStay
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
