<div class="login-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

    <div class="form-group">
      <div class="input-container">
        <input type="text" id="firstName" formControlName="firstName" required>
        <label for="firstName">First Name</label>
      </div>
    </div>

    <div class="form-group">
      <div class="input-container">
        <input type="text" id="lastName" formControlName="lastName" required>
        <label for="lastName">Last Name</label>
      </div>
    </div>

    <div class="form-group">
      <div class="input-container">
        <input type="text" id="userName" formControlName="userName" required>
        <label for="userName">Username</label>
      </div>
    </div>

    <div class="form-group">
      <div class="input-container">
        <input type="email" id="email" formControlName="email" required>
        <label for="email">Email</label>
      </div>
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <p class="error-message">Invalid email</p>
      </div>
    </div>

    <div class="form-group">
      <div class="input-container">
        <input type="password" id="password" formControlName="password" required>
        <label for="password">Password</label>
      </div>
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <p class="error-message">Password must be at least 6 characters</p>
      </div>
    </div>

    <button class="login-button" type="submit" [disabled]="registerForm.invalid">Register</button>

    <p *ngIf="errorMessage" class="message error-message">{{ errorMessage }}</p>

    <div class="login-links">
      <span>Already have an account? <a routerLink="/auth/login">Sign in</a></span>
    </div>
  </form>
</div>
<app-footer></app-footer>
