.apartment-details {
  padding: 20px;
}

.loading {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.city-info {
  margin-top: 1rem;
}

.apartment-images img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.error {
  color: red;
  text-align: center;
  font-weight: bold;
}
