body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 1600px;
}

.header {
  padding: 60px;
  text-align: center;
  background: rgb(26, 46, 53);
  color: white;
  font-size: 1.2rem;
}
.header h1{
  color: white;
  font-size: 3rem;
}
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(26, 46, 53);
  font-size: 1rem;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {

  font-size: 1rem;
  border-radius: 5px;
  background-color: #f1f1f1;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive */

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
