<div class="login-container">
  <p class="forgetpass">Enter your email address and we will send you a link to reset your password</p>

  <form (ngSubmit)="onSendResetLink()">
    <div class="form-group">
      <div class="input-container">
        <input type="email" id="email" name="email" required [(ngModel)]="email">
        <label for="email">Email</label>
      </div>
    </div>
    <button class="login-button" type="submit">SEND</button>
  </form>

  <p *ngIf="message" class="message">{{ message }}</p>
</div>
<app-footer></app-footer>

