<p>forgot-password works!</p>
<div class="login-container">
  <h2>Reset Password</h2>
  <form >
    <div class="form-group">
      <div class="input-container">
        <input type="text" id="username" name="username" required >
        <label for="username">Username</label>
      </div>
    </div>

    <div class="form-group">
      <div class="input-container">
        <input type="password" id="password" name="password" required >
        <label for="password">Password</label>
      </div>
    </div>

    <mat-slide-toggle>Save login</mat-slide-toggle>

    <button class="login-button" type="submit">Login</button>


  </form>
</div>

